.idea
.DS_Store
.vscode/

# Widevine stuff
*.wvd
client_id.bin
private_key.pem

crunchyroll-downloader

*.mkv
# Compiled binaries
/crunchyroll-downloader
*.exe
crunchyroll-downloader.exe
build.bat
__debug_bin.exe
